<div class="tableContainer">
  <h2>Users List</h2>
  <table>
    <tr>
      <th>Id.</th>
      <th>name</th>
      <th>username</th>
      <th>email</th>
      <th>website</th>
    </tr>
    
    <tr *ngFor="let user of users[0][0];  index as productId" [attr.id]="user.id">
    <a [routerLink]="['../details', user.id]" > 
      <td>{{user.id}}</td> 
    </a>
      <td (click)="onClick()"> {{user.name}}</td>
      <td> {{user.username}}</td>
      <td> {{user.email}}</td>
      <td> {{user.website}}</td>
      <div *ngIf="clicked" id="panel">
          <button (click)="remove(user.id)">
            Delete
          </button>
          <a [routerLink]="['../details', user.id]">
            details
          </a>
        </div>
    </tr> 
  </table>
</div>