<div class="tableContainer">
  
  <table>
      <h2>Users List</h2>
    <tr>
      <th>Id.</th>
      <th>name</th>
      <th>username</th>
      <th>email</th>
      <th>website</th>
    </tr>
    
    <tr class="contextParent" *ngFor="let user of users[0]" (click)="onClick()">
      <td> {{user.id}}</td> 
      <td> {{user.name}}</td>
      <td> {{user.username}}</td>
      <td> {{user.email}}</td>
      <td> {{user.website}}</td>
      <div *ngIf="clicked" class="contextMenu">
          <a [routerLink]="['../details', user.id]">
            details
          </a>
          <button (click)="remove(user.id)">
            Delete
          </button>
        </div>
    </tr> 
  </table>
</div>